<div class="login-container">

  <div class="login-card">

    <!-- LEFT SIDE -->
    <div class="left-panel">

      <h2>Ready to<br>scale your<br>business?</h2>

      <p>
        Easily collaborate with your team with shared Zaps and
        app connections, a centralized login, and more
      </p>

      <button class="plan-btn">
        Try Our New Company Plan
      </button>

    </div>

    <!-- RIGHT SIDE -->
    <div class="right-panel">

      <h4 class="text-center mb-4">Log In to Your Account</h4>

      <button class="google-btn" (click)="googleLogin()">
        <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png">
        Continue with Google
      </button>

      <button class="facebook-btn" (click)="faceBookLogin()">
        <i class="bi bi-facebook"></i>
        Continue with Facebook
      </button>

      <button class="microsoft-btn" (click)="microsoftLogin()">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732221.png">
        Continue with Microsoft
      </button>

      <div class="divider">
        <span>OR</span>
      </div>

      <input
        type="email"
        [(ngModel)]="email"
        class="form-control"
        placeholder="Email"
      />

      <button class="continue-btn" (click)="sendOtp()">
        Continue
      </button>

      <p class="signup">
        Don't have an account yet?
        <a href="#">Sign Up</a>
      </p>

    </div>

  </div>

</div>
