<div class="flex justify-content-center align-items-center min-h-screen"
     *ngIf="activeScreen === 'Regular_Login'">
  <p-card styleClass="w-full md:w-6 lg:w-5">
    <form [formGroup]="loginForm" (ngSubmit)="RegularLogin()">
      <div class="flex flex-column gap-3">
        <h3 class="text-center">Login</h3>
        <div class="flex flex-column gap-2">
          <label>Email</label>
          <input
            pInputText
            type="email"
            formControlName="email"
            class="w-full"
          />
          <small class="p-error"
            *ngIf="submitted && f['email'].errors?.['required']">
            Email is required
          </small>
          <small class="p-error"
            *ngIf="submitted && f['email'].errors?.['email']">
            Enter valid email
          </small>
        </div>
        <div class="flex flex-column gap-2">
          <label>Password</label>
          <input
            pInputText
            type="password"
            formControlName="password"
            class="w-full"
          />
          <small class="p-error"
            *ngIf="submitted && f['password'].errors?.['required']">
            Password required
          </small>
          <small class="p-error"
            *ngIf="submitted && f['password'].errors?.['minlength']">
            Minimum 6 characters
          </small>
        </div>
        <p-button
          label="Login"
          icon="pi pi-user"
          type="submit"
          styleClass="w-full">
        </p-button>
      </div>
    </form>
  </p-card>
</div>
<div class="flex justify-content-center align-items-center min-h-screen"
     *ngIf="activeScreen === 'Google'">
      <button class="google-btn" (click)="googleLogin()">
        <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png">
        Continue with Google
      </button>
</div>
<div class="flex justify-content-center align-items-center min-h-screen"
     *ngIf="activeScreen === 'Facebook'">
      <button class="facebook-btn" (click)="faceBookLogin()">
        <i class="bi bi-facebook"></i>
        Continue with Facebook
      </button>
      </div>
      <!-- <div class="flex justify-content-center align-items-center min-h-screen"
     *ngIf="activeScreen === 'Microsoft'">

      <button class="microsoft-btn" (click)="microsoftLogin()">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732221.png">
        Continue with Microsoft
      </button>
     </div> -->

     <div class="flex justify-content-center align-items-center min-h-screen"
     *ngIf="activeScreen === 'AuthenticatorApplication'">
     <div *ngIf="qrCode">
  <img [src]="qrCode" alt="Authenticator QR Code" width="200" height="200">
 <div>
   <p-inputNumber
    [useGrouping]="false" inputId="otp" [maxlength]="6" [minlength]="6"
    [(ngModel)]="otp" />
  <button pButton label="Verify OTP" (click)="verifyOTP()" [disabled]="otp.length < 6 ||otp.length > 6 "></button>
 </div>
</div>
     </div>
      <div class="flex justify-content-center align-items-center min-h-screen"
     *ngIf="activeScreen === 'Google_Microsoft_Otp_to_Mail'">
     <form [formGroup]="loginForm" *ngIf="!showOtpSection">
      <div class="flex flex-column gap-3">
        <h3 class="text-center">Login</h3>
        <div class="flex flex-column gap-2">
          <label>Email</label>
          <input
            pInputText
            type="email"
            formControlName="email"
            class="w-full"
          />
          <small class="p-error"
            *ngIf="submitted && f['email'].errors?.['required']">
            Email is required
          </small>
          <small class="p-error"
            *ngIf="submitted && f['email'].errors?.['email']">
            Enter valid email
          </small>
        </div>
          <p-button
          label="Login"
          icon="pi pi-user"
          type="submit" (onClick)="sendOtpToMail()"
          styleClass="w-full">
        </p-button>
        </div>
        </form>
        <div *ngIf="showOtpSection">
  <h3 class="text-center">Enter OTP sent to your email</h3>
  <div class="flex flex-column gap-2">
    <div>
   <p-inputNumber
    [useGrouping]="false" inputId="otp" [maxlength]="6" [minlength]="6"
    [(ngModel)]="otp" />
  <button pButton label="Verify OTP" (click)="verifyOTPOfMail()" [disabled]="otp.length < 6 ||otp.length > 6 "></button>
 </div>
        </div>
     </div>
