<p-toast></p-toast>


  <div class="container">
    <div class="row">

    <!-- ================= LEFT : SOCIAL LOGIN ================= -->
    <div class="col-12 col-md-6 p-5 ">

      <div class="text-center mb-4">
        <h2 class="text-primary">Identity Hub</h2>
        <small class="text-color-secondary">
          Social Authentication
        </small>
      </div>

      <div class="container">
<div class="column">
        <button pButton class="w-full justify-content-start" style="display: block; margin : 10px"
          (click)="startOAuth('Google')">
          <img src="https://cdn-icons-png.flaticon.com/512/300/300221.png"
               width="18" class="mr-2"/>
          Continue with Google
        </button>

        <button pButton class="w-full justify-content-start p-button-secondary" style="display: block; margin : 10px"
          (click)="startOAuth('Facebook')">
          <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png"
               width="18" class="mr-2"/>
          Continue with Facebook
        </button>

        <button pButton class="w-full justify-content-start p-button-contrast" style="display: block; margin : 10px"
          (click)="startOAuth('GitHub')">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
               width="18" class="mr-2"/>
          Continue with GitHub
        </button>

        <button pButton class="w-full justify-content-start p-button-info" style="display: block; margin : 10px"
          (click)="startOAuth('LinkedIn')">
          <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
               width="18" class="mr-2"/>
          Continue with LinkedIn
        </button>

        <button pButton class="w-full justify-content-start p-button-help" style="display: block; margin : 10px"
          (click)="startOAuth('Twitter')">
          <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png"
               width="18" class="mr-2"/>
          Continue with Twitter
        </button>

        <button pButton class="w-full justify-content-start p-button-warning" style="display: block; margin : 10px"
          (click)="startOAuth('Azure')">
          <i class="pi pi-microsoft mr-2"></i>
          Continue with Azure
        </button>

      </div>
      </div>

    </div>

    <!-- ================= RIGHT : OTP ================= -->
    <div class="col-12 col-md-6 p-5 ">

      <div class="text-center mb-4">
        <h3>OTP Login</h3>
        <small class="text-color-secondary">
          Email, SMS or Whatsapp
        </small>
      </div>

      <div class="flex flex-column gap-4">

        <!-- EMAIL OTP -->
        <div class="p-3 border-round-lg surface-100">
          <h5>Email OTP</h5>

          <div *ngIf="!emailOtpSent" class="flex gap-2 mt-2">

  <div class="w-full">

    <input pInputText
           [(ngModel)]="emailForOtp"
           #emailModel="ngModel"
           name="email"
           required
           email
           placeholder="Enter email"
           class="w-full"/>

    <!-- ✅ MUST BE INSIDE -->
    <small *ngIf="emailModel.invalid && emailModel.touched"
           class="text-red-500">
      Enter a valid email
    </small>
     <button pButton label="Send"
          (click)="sendOtpToMail()"
          [disabled]="emailModel.invalid">
  </button>

  </div>



</div>

          <div *ngIf="emailOtpSent" class="flex flex-column gap-2 mt-2">
            <small>OTP sent to {{ emailForOtp }}</small>

            <input pInputText [(ngModel)]="otp"
                   maxlength="6"
                   placeholder="Enter OTP"/>

            <div class="flex gap-2">
              <button pButton label="Verify"
                      (click)="verifyOtpOfMail()"
                      [disabled]="!isOtp6()"></button>

              <button pButton label="Resend"
                      class="p-button-text"
                      (click)="sendOtpToMail()"></button>
            </div>
          </div>
        </div>

        <!-- SMS OTP -->
        <div class="p-3 border-round-lg surface-100">
          <h5>SMS OTP</h5>

          <div class="flex gap-2 mt-2">
            <input pInputText [(ngModel)]="phoneForSms"
                   placeholder="Phone number"
                   class="w-full"/>

            <button pButton icon="pi pi-send"
                    (click)="sendSmsOtp()"></button>
          </div>
        </div>

        <!-- WHATSAPP OTP -->
        <div class="p-3 border-round-lg surface-100">
          <h5>Whatsapp OTP</h5>

          <div class="flex gap-2 mt-2">
            <input pInputText [(ngModel)]="phoneForWhatsApp"
                   placeholder="Phone number"
                   class="w-full"/>

            <button pButton icon="pi pi-send"
                    (click)="sendWhatsappOtp()"></button>
          </div>
        </div>

      </div>

    </div>

  </div>
  </div>

